@charset "UTF-8";
*{
  padding: 0;
  margin: 0;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #111;
}
body {
  font-size: 16px;
  line-height: 1;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}
img {
  max-width: 100%;
  vertical-align: top;
}

/* container */
.container {
  padding: 80px 0;
  background-color: #eef0f7;
}
.container .resume {
	position: relative;
	padding: 70px;
	width: 770px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 0 10px #ddd;
	box-sizing: border-box;
	overflow: hidden;
}
.container .resume .txt_name{
	position: absolute;
	top: 120px;
	right: 0;
	transform: rotate(-90deg) translateY(-45%);
	transform-origin: right;
	z-index: 0;
}
.container .resume .txt_name p{
	font-size: 150px;
	font-weight: 500;
	color: #fff;
	text-shadow: 0 1px #dcdeff, 1px 0 #dcdeff, -1px 0 #dcdeff, 0 -1px #dcdeff;
}
.container .resume .txt_web{
	position: absolute;
	bottom: 0;
	left: 0;
	transform: rotate(90deg) translate(-80%,-35%);
	transform-origin: left;
	z-index: 0;
}
.container .resume .txt_web p{
	font-size: 150px;
	font-weight: 500;
	color: #fff;
	text-shadow: 0 1px #dcdeff, 1px 0 #dcdeff, -1px 0 #dcdeff, 0 -1px #dcdeff;
}
@media (max-width: 768px) {
	.container {
		padding: 0;
	}
	.container .resume {
		width: 100%;
		padding: 70px 30px;
	}
	.container .resume .txt_web,
	.container .resume .txt_name{
		display: none;
	}
}

/* header */
#header {
  margin-bottom: 50px;
  text-align: center;
}
#header h1 {
  font-size: 29px;
  margin-bottom: 10px;
  font-weight: 600;
}
#header p {
  font-size: 15px;
  letter-spacing: 9px;
  text-indent: 9px;
  color: #555;
}
@media (max-width: 768px){
	#header h1{
		font-size: 20px;
	}
	#header p{
		font-size: 10px;
	}
}

/* about */
#about {
  z-index: 100;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#about .photo {
  flex-basis: 36%;
}
#about .photo img {
  border-radius: 50%;
  border: 12px solid #eee;
  box-sizing: border-box;
}
#about .desc {
  flex-basis: 54%;
}
#about .desc .name {
  margin-bottom: 16px;
}
#about .desc .name p {
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 8px;
}
#about .desc .name p span {
  letter-spacing: 0;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  vertical-align: text-bottom;
}
#about .desc .profile li {
  vertical-align: top;
  margin-bottom: 7px;
}
#about .desc .profile li p {
  display: inline-block;
  width: 30%;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -1px;
}
#about .desc .profile li p.eng {
	font-weight: 500;
}
#about .desc .profile li p b {
  font-size: 13px;
  font-weight: 400;
  color: #555;
}
#about .desc .profile li span,
#about .desc .profile li a{
  display: inline-block;
  font-size: 13px;
  letter-spacing: -1px;
}
#about .desc .profile li:last-child {
  margin-bottom: 0;
}
@media (max-width: 480px){
	#about{
		display: block;
	}
	#about .photo img {
		border-radius: 0;
		border: 4px solid #eee;
	}	
	#about .desc {
		margin-top: 38px;
	}
	#about .desc .name{
		display: none;
	}
}

/* list */
#list {
  padding: 60px 0 40px;
}
#list > ul {
  position: relative;
}
#list > ul > li {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
#list > ul > li .title {
  flex-basis: 30%;
  text-align: right;
}
#list > ul > li .title p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 7px;
}
#list > ul > li .title span {
  font-size: 14px;
  color: #555;
}
#list > ul > li .content {
	position: relative;
	padding: 26px 26px 60px;
	margin-left: 60px;
	flex-basis: 70%;
	background-color: rgba(238, 240, 247, 0.8);
	border-radius: 10px;
	box-sizing: border-box;
}
#list > ul > li .content::after{
	content: '';
	display: block;
	position: absolute;
	top: 20px;
	right: 100%;
	border-width: 10px;
	border-style: solid;
	border-color: transparent rgba(238, 240, 247, 0.8) transparent transparent;
}
#list > ul > li .content li {
  margin-bottom: 14px;
}
#list > ul > li .content li p {
  font-size: 11px;
  display: inline-block;
  width: 24%;
  letter-spacing: -1px;
}
#list > ul > li .content li p b{
	font-weight: 500;
}
#list > ul > li .content li span {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -1px;
}
#list > ul > li .content li.detail {
  text-align: right;
}
#list > ul > li .content li.detail span {
  text-align: left;
  display: inline-block;
  width: 75%;
  font-size: 12px;
  font-weight: 400;
  color: #555;
  line-height: 1.2;
  word-break: keep-all;
  -ms-word-break: keep-all;
}
#list > ul li:first-child .content li p {
  display: block;
  width: 100%;
  font-size: 14px;
  letter-spacing: 0;
}
#list > ul > li::after {
  content: "";
  display: block;
  position: absolute;
  left: 31%;
  width: 22px;
  height: 22px;
  background-color: #cbcefd;
  border-radius: 50%;
  transform: translateX(-50%);
}
#list > ul::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 31%;
  width: 2px;
  height: 84%;
  background-color: #cbcefd;
  transform: translateX(-50%);
}
@media (max-width: 768px){
	#list > ul > li {
		display: block;
		margin-bottom: 48px;
	}
	#list > ul > li .title {
		text-align: left;
	}
	#list > ul > li .title p{
		display: inline-block;
		margin: 0;
	}
	#list > ul > li .title span{
		font-size: 13px;
		margin-left: 5px;
	}
	#list > ul > li .content{
		margin: 0;
		margin-top: 20px;
		padding: 20px 10px;
		border-radius: 4px;
		background-color: #eef0f7;
	}
	#list > ul > li::after,
	#list > ul::after,
	#list > ul > li .content::after{
		display: none;
	}
	#list > ul > li .content li.detail span {
		display: block;
		width: 100%;
		font-size: 12px;
		line-height: 1.5;
	}
	#list > ul li:first-child .content li p {
		display: block;
		width: 100%;
		font-size: 12px;
		letter-spacing: 0;
	}
	#list > ul > li .content li span{
		font-size: 12px;
	}
}

/* footer */
#footer {
  text-align: center;
  padding: 10px 0 20px;
}
#footer p {
  font-size: 14px;
  margin-bottom: 15px;
}
#footer span {
  font-size: 14px;
}
@media (max-width: 480px){
	#footer p{
		font-size: 12px;
		margin-bottom: 10px;
	}
	#footer span {
		font-size: 12px;
	}
}